<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BinaryEncoding" version="1.4.0" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="murmurhash" version="1.0.2" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="Portable.BouncyCastle" version="1.8.5" />
  <package id="Portable.BouncyCastle-Signed" version="1.7.0.2" />
  <package id="System.Buffers" version="4.4.0" />
  <package id="System.Composition" version="1.2.0" />
  <package id="System.Composition.AttributedModel" version="1.2.0" />
  <package id="System.Composition.Convention" version="1.2.0" />
  <package id="System.Composition.Hosting" version="1.2.0" />
  <package id="System.Composition.Runtime" version="1.2.0" />
  <package id="System.Composition.TypedParts" version="1.2.0" />
</packages>